<network>
  <name>{{ vm_net_name }}</name>
  <forward mode='nat'>
    <nat>
      <port start='1024' end='65535'/>
    </nat>
  </forward>
  <bridge name='tt0' stp='on' delay='0'/>
  <domain name='{{ cluster }}.{{ domain }}'/>
  <dns enable='yes'>
    <host ip='{{ extcidrnet | ansible.netcommon.ipaddr('10') | ansible.netcommon.ipaddr('address') }}'>
      <hostname>api.{{ cluster }}.{{ domain }}</hostname>
      <hostname>api-int.{{ cluster }}.{{ domain }}</hostname>
      <hostname>console-openshift-console.apps.{{ cluster }}.{{ domain }}</hostname>
      <hostname>oauth-openshift.apps.{{ cluster }}.{{ domain }}</hostname>
      <hostname>canary-openshift-ingress-canary.apps.{{ cluster }}.{{ domain }}</hostname>
      <hostname>master1.{{ cluster }}.{{ domain }}</hostname>
    </host>
  </dns>
  <ip address='{{ extcidrnet | ansible.netcommon.ipaddr('first_usable') }}' prefix='{{ extcidrnet | ansible.netcommon.ipaddr('prefix') }}'>
    <dhcp>
      <range start='{{ extcidrnet | ansible.netcommon.ipaddr('11') | ansible.netcommon.ipaddr('address') }}' end='{{ extcidrnet | ansible.netcommon.ipaddr('last_usable') }}'/>
      <host mac='{{ vm_nic_mac }}' name='master1' ip='{{ extcidrnet | ansible.netcommon.ipaddr('10') | ansible.netcommon.ipaddr('address') }}'/>
    </dhcp>
  </ip>
</network>
